# Global
CLUSTERED_MODE=false

KAFKA_TOPICS= CIOL-payload,CIOL-notifications

export HOME_DATA_DIR=$HOME/ciol_docker_data/data
export HOME_DATA_APPS_DIR=$HOME/ciol_docker_data/data-apps

export DATA_DIR_INPUT=${HOME}/ciol_docker_data/data-apps/input
export DATA_DIR_NOTIFICATIONS=${HOME}/ciol_docker_data/data-apps/notifications
export DATA_DIR_DISPATCH=${HOME}/ciol_docker_data/data-apps/dispatch
export DATA_DIR_METADATA=${HOME}/ciol_docker_data/data-apps/metadata

